@{  
    ViewBag.Title = "Помилка";  
}
  
<div style="background-color: #A52A2A; color: White; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: Black; height: 170px;">  
    <div style=" padding:20px;">  
        <h3>  
            Помилка:
        </h3>  
        <h4>  
            Сталася помилка при обробці Вашого запиту: @ViewBag.Message.
        </h4>  
        <h5><a asp-controller="Home" asp-action="Index">Повернутися на стартову сторінку</a></h5>
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>  