@{
    ViewBag.Title = ViewBag.CurrentFolder;
}
@model List<FolderBrowseViewModel>

<h2>"Folder" - @ViewBag.CurrentFolder</h2>
@foreach (var folder in Model)
{
    <p><a href="@folder.Path">@folder.Name</a></p>
}
