@{
    ViewBag.Title = ViewBag.CurrentFolder;
}
@model List<Folder>

<h2>"Folder" - @ViewBag.CurrentFolder</h2>
@foreach (var folder in Model)
{
    <p><a asp-controller="Home" asp-action="Browse" asp-route-id="@folder.Id">@folder.Name</a></p>
}